@font-face {
    font-family: robotoFont;
    src: url(fonts/Roboto-Light.ttf);
}
  
@font-face {
    font-family: robotoFont;
    src: url(fonts/Roboto_bold.woff);
    font-weight: bold;
}
  
body {
    background-color: rgb(228, 228, 228);
    font-family: robotoFont;
    text-align: center;
}

#ls, #ss{
    border: none;
}

img {
    max-width: 100%;
}

#h1-index {
    color: whitesmoke;
    font-size: xx-large;
    justify-content: center;
    text-shadow: 2px 2px #464343;
}


.top-navbar {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(97, 90, 90);
   
}

.top-navbar > li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.top-navbar > li a:hover {
    background-color: rgb(82, 9, 18);
}


.flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    justify-content: center;
    align-items: center;
}

.flex-container > div, .flex-container > h2 {
    background-color: #f1f1f1;
    width: 90%;
    line-height: 40px;
    font-size: 18px;
}

.flex-container > h2 {
    font-size: 22px;
    text-align: center;
}

.flex-container > div {
    text-align: left;
    padding-left: 10px;
}

.fact-index1, .fact-index2, .fact-history1,.fact-history2,.fact-history3,.fact-history4 {
    display: flex;
    flex-direction: column;
    background-color: #f0ebeb;
    width: 300px;
    height: 220px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    border-style: dashed;
    border-color: rgb(156, 152, 152); 
    margin-top: 5%;
}


.fa-fact, .fa-fact1 {
    position: relative;
}

.fa-fact:before, .fa-fact1:before {
    content: "\f0eb";
    color: rgb(53, 48, 0);
    padding-left: 5px;
    position: absolute;
    top: 5px; 
    left:0;
}

.fa-fact1:before {
    color: rgb(114, 7, 7);
}

figure.photo-description1, figure.photo-description2, figure.photo-history1,figure.photo-history2, figure.photo-founders-left, figure.photo-founders-right {
    width: 280px;
    border: solid rgb(209, 202, 202);
    border-width: 1px;
    background-color: #f0ebeb;
}

.flex-container {
    grid-area: article;
    margin-top: 1.5em;
}

.fact-index1, .fact-history1 {
    grid-area: left1;
}

.fact-index2, .fact-history2 {
    grid-area: left2;
}

.photo-description1, .fact-history3 {
    grid-area: right1;
}

.photo-description2, .photo-history1 {
    grid-area: right2;
}

.fact-history4{
    grid-area: right3;
    padding-bottom: 120px;
}

footer {
    grid-area: footer;
}

ul {
    list-style-type: none;
    margin-left: -3em;
}

a.fa-fact1:hover {
    position: absolute;
}

a.fa-fact1:hover:after {
    content: url(photos/snarc.png); 
    transform: scale(.27);
    display: block;
    position:relative;
    left: -450px; 
    top: -311px; 

}

@media screen and (max-width:480px) {
    #body-index {
        background-image: url("photos/background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 14%;
    }

    #ls, .mySlides, .fade, .slideshow-container, .dots {
        display:none;
    }

    
    .top-navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; 
    }

    .grid-container1, .grid-container2 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
      }
    
    .grid-container1 {
        grid-template-areas:'article'
                            'left1'
                            'right1'
                            'left2'
                            'right2'
                            'footer';
    }
    
    .grid-container2 {
        grid-template-areas:'article'
                            'right2'
                            'left1'
                            'right1'
                            'left2'
                            'left3'
                            'right3'
                            'footer';
    }
}

@media only screen and (min-width: 481px) {
    #body-index {
        background-image: url("photos/background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 27%;
    }

    #ss,  .mySlides, .fade, .slideshow-container, .dots {
        display:none;
    }
     
    .top-navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; 
    }

    .grid-container1, .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
      }
    
    .grid-container1 {
        grid-template-areas:'article article'
                            'left1 right1'
                            'left2 right2'
                            'footer footer';
    }
    
    .grid-container2 {
        grid-template-areas:'article article'
                            'right2 left1'
                            'right1 left2'
                            'left3 right3'
                            'footer footer';
    }
   
}

@media only screen and (min-width: 769px) {
    #body-index {
        background-image: url("photos/background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 35%;
    }

    .mySlides, .fade, .slideshow-container, .dots {
        display: block;
    }

    #ss {
        display:none;
    }
      
    .top-navbar > li {
        float: left;
    }

    .top-navbar > li a {
        text-align: center;
    }

    .grid-container1, .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-items: center;
      }
    
    .grid-container1 {  
        grid-template-areas:'left1 article right1'  
                            'left2 article right2'  
                            'footer footer footer'; 
    }
    
    .grid-container2 {
        grid-template-areas:'left1 article right1'
                            'left2 article right2'
                            'left3 article right3'
                            'footer footer footer';
    }

    .flex-container {
        margin-top: 5%;
    }

    .fact-index1{
        margin-top: 10em;
        margin-left: 3em;
    }

    .fact-index2 {
        margin-top: -5em;
        margin-left: 3em;
    }
   .photo-description1 {
        margin-top: 18em;
   }

}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-right: 22%;
    margin-left: -28%;
     
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#date-p {
    background-color: rgb(240, 238, 238);
    display: inline-block;
    padding: 5px;
} 

#body-val {
    text-align: left;
    justify-content: left;
}

input[type=text], input[type=password], input[type=email], input[list=countries], input[type=date], input[type=tel] {
    width: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    background: #fcfcfc;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[list=countries]:focus, input[type=date]:focus, input[type=tel]:focus {
    background-color: rgb(221, 220, 220);
  }
  
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  .valid, .val-confpas {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  .invalid, .inv-confpas {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

  .description {
    font-weight: 900;
  }


  
.registerbtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #532d2d;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px #999;
}
  
.registerbtn:hover {background-color: #8e3e3e}
  
.registerbtn:active {
    background-color: #8e3e3e;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

#opinion {
    font-family: robotoFont;
    font-size: 15px;
}